:root{
    --primary: rgba(246, 247, 242, 1);
    --secondary: rgba(10, 25, 68, 1);
    --text-black: rgba(0, 0, 0, 1);
    --text-white: rgba(255, 255, 255, 1);
    --background-primary: rgba(165, 181, 196, 1);
    --background-secondary: rgba(60, 79, 109, 1);
    --background-homepage: rgba(217, 216, 221, 1);

    --h1: 28px;
    --h2: 20px;
}